--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (6bc9ef8)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO neondb_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: neondb_owner
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Product" (
    id integer NOT NULL,
    name text NOT NULL,
    price text NOT NULL,
    store text NOT NULL,
    category text NOT NULL,
    image text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "standardizedProductId" integer
);


ALTER TABLE public."Product" OWNER TO neondb_owner;

--
-- Name: Product_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_id_seq" OWNER TO neondb_owner;

--
-- Name: Product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Product_id_seq" OWNED BY public."Product".id;


--
-- Name: StandardizedProduct; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."StandardizedProduct" (
    id integer NOT NULL,
    name text NOT NULL,
    image text,
    category text,
    "subCategory" text,
    brand text,
    volume text,
    attributes jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "midCategory" character varying(255)
);


ALTER TABLE public."StandardizedProduct" OWNER TO neondb_owner;

--
-- Name: StandardizedProduct_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."StandardizedProduct_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."StandardizedProduct_id_seq" OWNER TO neondb_owner;

--
-- Name: StandardizedProduct_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."StandardizedProduct_id_seq" OWNED BY public."StandardizedProduct".id;


--
-- Name: Product id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product" ALTER COLUMN id SET DEFAULT nextval('public."Product_id_seq"'::regclass);


--
-- Name: StandardizedProduct id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."StandardizedProduct" ALTER COLUMN id SET DEFAULT nextval('public."StandardizedProduct_id_seq"'::regclass);


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Product" (id, name, price, store, category, image, "createdAt", "updatedAt", "standardizedProductId") FROM stdin;
\.


--
-- Data for Name: StandardizedProduct; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."StandardizedProduct" (id, name, image, category, "subCategory", brand, volume, attributes, "createdAt", "updatedAt", "midCategory") FROM stdin;
\.


--
-- Name: Product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Product_id_seq"', 1, false);


--
-- Name: StandardizedProduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."StandardizedProduct_id_seq"', 1, false);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: StandardizedProduct StandardizedProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."StandardizedProduct"
    ADD CONSTRAINT "StandardizedProduct_pkey" PRIMARY KEY (id);


--
-- Name: Product_name_store_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Product_name_store_key" ON public."Product" USING btree (name, store);


--
-- Name: Product Product_standardizedProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_standardizedProductId_fkey" FOREIGN KEY ("standardizedProductId") REFERENCES public."StandardizedProduct"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: neondb_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

